.rbc-event {
  background-color: #8b5cf6;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  padding: 2px 6px;
}

.rbc-event:hover {
  background-color: #7c3aed;
}

.rbc-event-content span{
    color: black;
}

.rbc-header {
  background-color: #f9fafb;
  color: #374151;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #e5e7eb;
  padding: 6px 0;
}

.rbc-day-bg {
    /* background-color: #F1EA7F; */
    /* background-color: rgba(236, 235, 235, 0.832); */
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    /* font-weight: bold; */
    /* margin-left: 1px; */
}

.rbc-time-view {
  border: 1px solid #e5e7eb;
}

.rbc-time-content {
  border-top: 1px solid #e5e7eb;
}

.rbc-today {
  background-color: #ecfdf5;
}

.rbc-button-link {
    font-weight: bold;
}

.rbc-btn-group button {
  border: 1px solid #e5e7eb;
  background: white;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: bold;
}

.rbc-btn-group button:hover {
  background: #f3f4f6;
}

.rbc-active {
  background: #8b5cf6 !important;
  color: white !important;
}

.rbc-toolbar-label {
    font-size: large;
    font-weight: bold;
    color: rgb(96, 95, 95);
}

.rbc-time-view {
    border: 2px solid black;
}

.rbc-time-content {
    border: 1px solid black;
}