@import "tailwindcss";

/* .react-calendar-heatmap .react-calendar-heatmap__day {
  width: 12px;
  height: 12px;
  rx: 2px;
  ry: 2px;
}

.color-scale-1 {
    width: 12px;
  height: 12px;
  rx: 2px;
  ry: 2px;
} */

.color-empty { fill: #ebedf0; }
.color-scale-1 { fill: #c6e48b; }
.color-scale-2 { fill: #7bc96f; }
.color-scale-3 { fill: #239a3b; }
.color-scale-4 { fill: #196127; }

/* .react-calendar-heatmap text {
  font-size: 8px;
}

.react-calendar-heatmap {
  max-width: 100%;
} */
